//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

// Declaring color variables
$primary: #007360;
$secondary: #00a098;
$white : #fff;
$grey: #5a6f79;
$light-grey: #d6dfe3;
$dark-grey: #b6c3ca;
